@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//border
$border-main: #2fbd59;

// fonts
$main-font: "Montserrat", sans-serif;
$secondary-font: "Montserrat", sans-serif;

// size
$mobile: "375px";
$tablet: "1024px";
$dekstop: "1440px";
